@font-face {
    font-family: 'sw-icons';
    src: url('../fonts/sw-icons.eot');
    src: url('../fonts/sw-icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sw-icons.woff') format('woff'),
    url('../fonts/sw-icons.ttf') format('truetype'),
    url('../fonts/sw-icons.svg#sw-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.i64, .i48, .i32, .i24, .i22, .i16 {
    display: inline-block;
    color: black;
}

.i64 {font-size: 64px; !important;}
.i48 {font-size: 48px; !important;}
.i32 {font-size: 32px; !important;}
.i24 {font-size: 24px; !important;}
.i22 {font-size: 22px; !important;}
.i16 {font-size: 16px; !important;}

.sw, .sw-stack {
    display: inline-block;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-family: 'sw-icons', sans-serif;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

.sw-stack:before {
    position:absolute;
}

.sw-dir:before {content: "A";}
.sw-calc:before {content: "B";}
.sw-log:before {content: "C";}
.sw-prefs:before {content: "D";}
.sw-exit:before {content: "E";}
.sw-backward:before {content: "F";}
.sw-forward:before {content: "G";}
.sw-up:before {content: "H";}
.sw-home:before {content: "I";}
.sw-refresh:before {content: "J";}
.sw-collapse:before {content: "K";}
.sw-expand:before {content: "L";}
.sw-switch:before {content: "M";}
.sw-close-doc:before {content: "N";}
.sw-delete:before {content: "O";}
.sw-warn:before {content: "P";}
.sw-close:before {content: "Q";}
.sw-exclam:before {content: "R";}
.sw-info:before {content: "S";}
.sw-quest:before {content: "T";}
.sw-search:before {content: "U";}
.sw-minus:before {content: "V";}
.sw-plus:before {content: "W";}
.sw-htri:before {content: "X";}
.sw-vtri:before {content: "Y";}
.sw-folder:before {content: "Z";}
.sw-folder-open:before {content: "a";}
.sw-doc:before {content: "b";}
.sw-file:before {content: "c";}
.sw-image:before {content: "d";}

.sw-file-unsupported:before {content: "j";}
.sw-close-all:before {content: "p";}
.sw-circle-bg:before {
    content: "q";
    color: white;
    /*position: absolute;*/
}
.sw-qword:before {content: "r";}
.sw-dword:before {content: "s";}
.sw-word:before {content: "t";}
.sw-byte:before {content: "u";}
.sw-unchecked:before {content: "v";}
.sw-checked:before {content: "w";}
.sw-checked-inv:before {content: "x";}

/*-----COLORS------*/
.black {color: #000;}
.lightgray {color: #aeb5bd;}
.gray {color: #92a6a6;}
.white {color: #fff;}
.yellow {color: #f0d000;}
.orange {color: #ffa500;}
.red {color: #e74c3c;}
.blue {color: #3498db;}
.green {color: #27ae60;}
.magenta {color: #f06292;}
.violet {color: #8786c0;}
.midred{color: #e83346}
.midgreen{color: #00aa75}
.midblue{color: #376dba}
.midbrown{color: #e67e22}

.before-black:before {color: #000;}
.before-gray:before {color: #92a6a6;}
.before-white:before {color: #fff;}
.before-yellow:before {color: #f0d000;}
.before-orange:before {color: #ffa500;}
.before-red:before {color: #e74c3c;}
.before-blue:before {color: #3498db;}
.before-green:before {color: #27ae60;}
.before-magenta:before {color: #f06292;}
.before-violet:before {color: #8786c0;}
.before-midred:before {color: #e83346}
.before-midgreen:before {color: #00aa75}
.before-midblue:before {color: #376dba}
.before-midbrown:before {color: #e67e22}